<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfProductPhotoManagerTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfProductPhotoManagerTests.Properties.Settings>
            <!--<setting name="test" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="outputfolder" serializeAs="String">
				<value>output</value>
			</setting>
            <setting name="serverAddress" serializeAs="String">
                <value>192.168.50.160</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>pi</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>newlifechou</value>
            </setting>
            <setting name="serverFolder" serializeAs="String">
                <value>/home/pi/photos</value>
            </setting>-->
			<setting name="serverAddress" serializeAs="String">
				<value>192.168.16.254</value>
			</setting>
			<setting name="username" serializeAs="String">
				<value>photoadmin</value>
			</setting>
			<setting name="password" serializeAs="String">
				<value>cdpmiadmin</value>
			</setting>
			<setting name="serverFolder" serializeAs="String">
				<value>/Y_Products</value>
			</setting>
			<setting name="localFolder" serializeAs="String">
				<value>productphotos</value>
			</setting>
			<setting name="outputfolder" serializeAs="String">
				<value>output</value>
			</setting>
        </WpfProductPhotoManagerTests.Properties.Settings>
    </userSettings>
</configuration>